<header class="header">
  <nav
    class="navbar navbar-expand-lg navbar-dark fixed-top"
    style="background-color: #160e3f"
  >
    <div class="container">
      <a class="navbar-brand" href="#!"
        ><img
          style="height: 50px; width: 100%; color: #030223"
          src="/img/logo1.svg"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-end">
          <li class="nav-item">
            <a class="nav-link" href="/">PoÄetna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stanovi">Nekretnine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agenti">Agenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stanovi/mapa">Mapa</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="flag flag-serbia"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="flag flag-united-kingdom"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="flag flag-russia"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
