<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

<% if(currentUser) {%>
<div class="mt-4">
  <a href="/stanovi/new" class="btn btn-outline-primary dugme"
    >Dodaj nekretninu</a
  >
</div>
<% }%>

<div class="mt-4 container">
  <div class="mt-3 ivanFont">
    <h3 class="fs-2 ivanPlava">Pronađite svoj dom</h3>
  </div>

  <hr />

  <div class="container text-center my-3"></div>

  <div class="container">
    <div class="row g-5">
      <!--Forma-->
      <form
        action="/stanovi/pretraga"
        method="POST"
        class="validated-form"
        novalidate
      >
        <div class="row g-3">
          <div class="col-12 col-md-6 col-xl-3">
            <select
              class="form-select"
              id="kupiZakupi"
              name="pretraga[kupiZakupi]"
              aria-label=""
            >
              <option value="default" selected>Kupujem/Zakupljujem...</option>
              <option value="Prodaja">Kupujem</option>
              <option value="Izdavanje">Zakupljujem</option>
            </select>
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <select class="form-select" id="tipNek" name="pretraga[tipNek]">
              <option value="default" selected>Tip nekretnine...</option>
              <option value="Stan">Stan</option>
              <option value="Kuca">Kuća</option>
              <option value="Zemljiste">Zemljište</option>
              <option value="PoslovniProstor">Poslovni prostor</option>
            </select>
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <select class="form-select" id="location" name="pretraga[location]">
              <option value="default" selected>Lokacija...</option>
              <% for( let stan of stanovi) { %>
              <option value="<%= stan.location %>"><%= stan.location %></option>
              <% } %>
            </select>
          </div>

          <div class="col-12 col-md-6 col-xl-3">
            <select class="form-select" id="roomNum" name="pretraga[roomNum]">
              <option value="default" selected>Broj soba...</option>
              <option value="0.5">0.5</option>
              <option value="1.0">1.0</option>
              <option value="1.5">1.5</option>
              <option value="2.0">2.0</option>
              <option value="2.5">2.5</option>
              <option value="3.0">3.0</option>
              <option value="3.5">3.5</option>
              <option value="4.0">4.0</option>
              <option value="4.5">4.5</option>
              <option value="5.0">5.0</option>
            </select>
          </div>
        </div>

        <hr />

        <div>
          <p class="ivanFont ivanPlava fs-6">
            Cena do: <span id="sliderValue">20000</span>
            <i class="bi bi-currency-euro"></i>
          </p>
          <input
            type="range"
            min="10000"
            max="1000000"
            value="1000000"
            step="2000"
            class="slider"
            id="priceRange"
            name="pretraga[priceRange]"
          />
        </div>

        <hr class="my-4" />

        <button class="w-100 btn btn-primary btn-lg dugmeDrugo" type="submit">
          Pretraži
        </button>
      </form>
    </div>
  </div>

  <hr class="my-4" />

  <div class="container text-center mb-3">
    <div class="row justify-content-end">
      <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
        <button type="button" class="btn btn-outline-primary dugme">
          Kupi bez provizije
        </button>
      </div>
      <div class="dropdown col-3 col-md-3 col-lg-2 col-xl-1 col-xxl-1">
        <button
          onclick="toggleDropdown()"
          class="btn btn-outline-primary dugme dropbtn"
        >
          Sortiraj
        </button>
        <div id="myDropdown" class="dropdown-content">
          <a class="text-uppercase" href="#">Najnovije prvo</a>
          <a class="text-uppercase" href="#">Najskuplje prvo</a>
          <a class="text-uppercase" href="#">Najjeftinije prvo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Za Slider i Dropdown-->
<script>
  //Slider
  const slider = document.getElementById("priceRange");
  const output = document.getElementById("sliderValue");

  // Display the default slider value
  output.innerHTML = slider.value;

  // Update the current slider value (each time the slider is dragged)
  slider.oninput = function () {
    output.innerHTML = this.value;
  };

  //Dropdown
  function toggleDropdown() {
    var dropdownMenu = document.getElementById("myDropdown");
    dropdownMenu.classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches(".dropbtn")) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains("show")) {
          openDropdown.classList.remove("show");
        }
      }
    }
  };
</script>
