/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

/*Search bar*/

.inputs {
  position: relative;
}

.form-control {
  text-indent: 15px;
  border: none;
  height: 45px;
  border-radius: 0px;
  border-bottom: 1px solid #eee;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #eee;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid blue;
}

.form-control:focus {
  color: blue;
}

.inputs i {
  position: absolute;
  top: 14px;
  left: 4px;
  color: #b8b9bc;
}

/*Moje izmene*/
.dugme {
  transition-duration: 0.4s;
  background-color: whitesmoke;
  color: #160e3f;
  border: 1px solid #160e3f;
}

.dugme:hover {
  background-color: #160e3f;
  color: whitesmoke;
}

.dugmeCrveno {
  transition-duration: 0.4s;
  background-color: red;
  color: whitesmoke;
  border: 1px solid #160e3f;
}

.dugmeCrveno:hover {
  background-color: whitesmoke;
  color: red;
}

.dugmeDrugo {
  transition-duration: 0.4s;
  background-color: #160e3f;
  color: whitesmoke;
  border: 1px solid #160e3f;
}

.dugmeDrugo:hover {
  background-color: whitesmoke;
  color: #160e3f;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.spreci {
  padding-top: 70px;
  margin-top: 70px;
}

.slika {
  width: 100%;
  height: 480px;
}

.zlatna {
  color: #c29b40;
}

.ivanPlava {
  color: #160e3f;
}

.maloJaca {
  font-size: 18px;
  font-weight: 500;
}

.ivanFont {
  font-family: "PT Serif", serif;
  font-weight: 500;
}

.ivanFont2 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 4px;
}

.ivanFont3 {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  font-weight: 200;
}

.slider-container {
  width: 50%;
  margin: 50px auto;
}

.slider {
  width: 100%;
}

/*Dropdown Dugme*/

/* Style the dropdown button */
.dropbtn {
  background-color: whitesmoke;
  color: #160e3f;
}

.dropbtn:hover {
  background-color: #160e3f;
  color: whitesmoke;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #160e3f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: whitesmoke;
} */

/* Show the dropdown menu */
/* .show {
  display: block;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  border-radius: 10px;
}

.dropdown-content a {
  color: #333;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: small;
  color: #160e3f;

  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #160e3f;
  color: whitesmoke;

  border-radius: 10px;
}

.show {
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-style: italic;
  color: goldenrod;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  text-align: center;
  font: size 2.8rem;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 1.5s ease-in-out forwards; /* Animation for fading in */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}