<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

<% if(currentUser) {%>
<div class="mt-4">
  <a href="/stanovi/new" class="btn btn-outline-primary">Dodaj nekretninu</a>
</div>
<% }%>

<form class="mt-4">
  <div class="container">
    <div class="mt-3"><h3>Pronađite svoj dom</h3></div>
    <div class="mt-3 inputs">
      <input
        type="text"
        class="form-control"
        placeholder="Država, Grad, Adresa, ID"
        style="color: black"
      />
      <i class="fa fa-search"></i>
    </div>
    <div class="container text-center my-3">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Kupi
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Kupi bez provizije
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Zakupi
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Prodaj
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Cenovni rang
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Struktura
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Sortiraj
          </button>
          <button type="button" class="btn btn-outline-primary m-1 dugme">
            Filteri
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
