<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Nova Nekretnina</h1>
  <div class="col-6 offset-3">
    <form
      action="/stanovi"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="sale">Prodaja/Izdavanje</label>
        <select
          class="form-select"
          id="sale"
          name="stan[sale]"
          aria-label="Default select example"
          required
        >
          <option value="Prodaja" selected>Prodaja</option>
          <option value="Izdavanje">Izdavanje</option>
        </select>
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="title">Naziv/Naslov</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="stan[title]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Lokacija</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="stan[location]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3 custom-file">
        <label for="image" class="form-label">Upload images</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Cena</label>
        <div class="input-group">
          <span class="input-group-text" id="price">EUR</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="stan[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
        </div>
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="structure">Broj soba/Struktura</label>
        <input
          class="form-control"
          type="text"
          id="structure"
          name="stan[structure]"
          placeholder="0.0"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="areaSize">Kvadratura</label>
        <input
          class="form-control"
          type="text"
          id="areaSize"
          name="stan[areaSize]"
          placeholder="dodajte m2 ili ar ili har takodje"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="toilets">Broj kupatila</label>
        <input
          class="form-control"
          type="text"
          id="toilets"
          name="stan[toilets]"
          placeholder="0.0"
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="level">Sprat</label>
        <input
          class="form-control"
          type="text"
          id="level"
          name="stan[level]"
          placeholder="0.0"
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="etaza">Etaza</label>
        <input class="form-control" type="text" id="etaza" name="stan[etaza]" />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="agentName">Ime Agenta</label>
        <input
          class="form-control"
          type="text"
          id="agentName"
          name="stan[agentName]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="agentLicense">Licenca Agenta</label>
        <input
          class="form-control"
          type="text"
          id="agentLicense"
          name="stan[agentLicense]"
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="agentNumber">Broj telefona agenta</label>
        <input
          class="form-control"
          type="text"
          id="agentNumber"
          name="stan[agentNumber]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="agentEmail">Mejl agenta</label>
        <input
          class="form-control"
          type="text"
          id="agentEmail"
          name="stan[agentEmail]"
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Detaljniji opis</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="stan[description]"
          required
        ></textarea>
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <!--YouTube link-->
      <!--Menjaj-->
      <div class="mb-3">
        <label class="form-label" for="videoLink"
          >Dodaj link video snimka</label
        >
        <input
          class="form-control"
          type="text"
          id="videoLink"
          name="stan[videoLink]"
          placeholder="ako nema linka stavite / -> ne ostavljaj prazno"
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="daProvizija">Sta sve ima</label>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="daProvizija"
            name="stan[daProvizija]"
          />
          <label class="form-check-label" for="provizija">
            Sa provizijom
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="bezProvizija"
            name="stan[bezProvizija]"
          />
          <label class="form-check-label" for="bezProvizija">
            Bez provizije
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="kuca"
            name="stan[kuca]"
          />
          <label class="form-check-label" for="kuca"> Kuca </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="stancic"
            name="stan[stancic]"
          />
          <label class="form-check-label" for="stancic"> Stan </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="lift"
            name="stan[lift]"
          />
          <label class="form-check-label" for="lift"> Lift </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="terasa"
            name="stan[terasa]"
          />
          <label class="form-check-label" for="terasa"> Terasa </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="novogradnja"
            name="stan[novogradnja]"
          />
          <label class="form-check-label" for="novogradnja">
            Novogradnja
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="starogradnja"
            name="stan[starogradnja]"
          />
          <label class="form-check-label" for="starogradnja">
            Stara gradnja
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="zemljiste"
            name="stan[zemljiste]"
          />
          <label class="form-check-label" for="zemljiste"> Zemljiste </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="poslovniProstor"
            name="stan[poslovniProstor]"
          />
          <label class="form-check-label" for="poslovniProstor">
            Poslovni prostor
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Dodaj nekretninu</button>
      </div>
    </form>
    <a class="btn btn-info mb-3 mt-4" href="/stanovi"
      >Vrati se na sve stanove</a
    >
  </div>
</div>
