<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Novi Agent</h1>
  <div class="col-6 offset-3">
    <form action="/agenti" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="name">Ime i Prezime</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="agent[name]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="mobile">Broj telefona</label>
        <input
          class="form-control"
          type="text"
          id="mobile"
          name="agent[mobile]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="mail">Mejl adresa</label>
        <input
          class="form-control"
          type="text"
          id="mail"
          name="agent[mail]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="license">Broj licence</label>
        <input
          class="form-control"
          type="text"
          id="license"
          name="agent[license]"
          required
        />
        <div class="valid-feedback">Izgleda dobro</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Dodaj agenta</button>
      </div>
    </form>
    <a class="btn btn-info mb-3 mt-4" href="/agenti">Vrati se na agente</a>
  </div>
</div>
